# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/.vinext/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
next-env.d.ts
/dist/
/.wrangler/
/outputs/
/work/
/public/chapter-02/
/public/chapter-03/
/public/chapter-04/
/public/chapter-05/
/public/chapter-06/
/public/chapter-07/
/public/chapter-08/
/public/chapter-09/
/public/chapter-10/
/public/chapter-11/
/public/chapter-12/
/public/chapter-13/
/public/chapter-14/
/public/chapter-15/
